/* src/components/Navbar.css */

.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .navbar-links li a:hover {
    color: #ffcc00;
  }
  