 
.App {
  text-align: center;
  padding: 2rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}

table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

/* Dark Mode Styles */
.App.dark {
  background-color: #121212;
  color: #ffffff;
}

.App.dark th {
  background-color: #333;
}

.App.dark td {
  color: #ffffff;
}

.crypto{
  display: flex;
  align-items: center;
  gap: 1rem;
}